/* font style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

*{
    margin: 0;
}
/* colors */
.orange{
    color: rgba(254, 163, 1, 1);
}

.sky-blue{
    color: rgba(1, 172, 253, 1);
}

.aqua{
    color: rgba(5, 212, 223, 1);
}

.blue-violet{
    color: rgba(93, 88, 239, 1);
}
.bg{
    background-color: rgba(247, 247, 247, 1);
}

/* header section styles */
.header{
    max-width: 1160px;
    margin: 0 auto;
}

/* navbar section styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo-section{
    display: flex;
    align-items: center;
    gap: 11px;
}

.logo-title{
    font-size: 2rem;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 32px;
    list-style: none;
}
.menu-item1, 
.menu-item2, 
.menu-item3, 
.menu-item4{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-1{
    background-color: rgba(254, 163, 1, 1);
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}
.btn-1-txt{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.menu-icon{
    display: none;
}

/* hero section style */

.hero-section{
    display: flex;
    gap: 50px;
}
.hero-txt-container{
    max-width: 640px;
}
.hero-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 112px;
}
.hero-des{
    font-size: 1.2rem;
    font-weight: 450;
    margin-top: 24px;
}
.btn-2{
    background-color: black;
    border-radius: 12px;
    margin-top: 24px;
    padding: 10px 47px;
}
.btn-2 a{
    text-decoration: none;
    color: white;
}
.hero-img{
    width: 100%;
}
/* responsive styles for small device */
@media screen and (max-width: 576px) {
    /* navbar styles */
    .navbar{
        border-bottom: 2px solid rgba(254, 161, 1, 0.705);
        padding-bottom: 12px;
    }
    .logo-title{
        display: none;
    }
    .menu{
        display: none;
    }
    .btn-1{
        display: none;
    }
    .menu-icon{
        display: inline;
        margin-right: 16px;
    }

    /* hero section */
    .hero-section{
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
        margin-top: 20px;
    }
    .hero-title{
        margin-top: 0;
    }
}
